<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="BBSList.asp" />
                <add value="step1.asp" />
                <add value="Intraleft.asp" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
